:root {
    --colorMain: rgb(46, 53, 59);
    --colorMainW: rgb(56, 63, 69);
    --colorMainW2: rgb(106, 113, 119);
    --colorHeaderW: rgba(56, 63, 69,0.5);
    --colorHeader: rgba(46, 53, 59,0.2);
    --colorTransparent: rgba(0, 0, 0, 1);
    --colorBackCard: rgba(46, 53, 59, 0.1);
    --colorSkills: rgb(153, 255, 153);
    --colorJobs: rgb(153, 153, 255);
    --colorExamples: rgb(255, 153, 102);
    --colorPresentation: rgb(102, 255, 255);
    --colorAccent: rgb(245, 245, 245);
    --colorNeutral: rgb(225, 225, 225);
    --wFull: 100vw;
    --wFull2: 98.2vw;
    --hFullContainer: 90vh;
    --hFullContainer2: 90vh;
    --hFullContainer3: 75vh;
    --hHalfContainer: 38vh;
    --hRadius: 45vh;
    --hFullSection: 88vh;
    --textS: 1.25vh;
    --textM: 1.55vh;
    --textL: 1.8vh;
    --textXL: 2vh;
    --textXXL: 3vh;
    --textS2: 1vh;
    --textM2: 1.3vh;
    --textL2: 1.6vh;
    --textXL2: 1.9vh;
    --textXXL2: 3vh;
    --wSix: 15.6vw;
    --wSix2: 32vw;
    --wQuarter: 23.475vw;
    --wQuarter2: 48.3vw;
    --wHalf: 48vw;
    --wHalf2: 48.3vw;
    --hXXXS: 0.5vh;
    --hXXS: 1vh;
    --hXS: 3vh;
    --hHS: 2.5vw;
    --hS: 5vh;
    --hSM: 7vh;
    --hM: 9vh;
    --hL: 10vh;
    --hXL: 16vh;
    --hIM: 6vh;
    --wIM: 6vw;
    --hIXM: 7vh;
    --wIXM: 7vw;
    --wXXXS: 0.5vw;
    --wXXS: 1vw;
    --wXS: 3vw;
    --wHS: 2.5vw;
    --wS: 5vw;
    --wSM: 7vw;
    --wM: 9vw;
    --wL: 16vw;
    --hHalf: 50vh;
    --hHalf2: 28vh;
    --hHalf3: 11.5vh --font1:'Sarpanch',
        --font2: 'Orbitron',
        --font3: 'Wire One',
}

#app {
    height: 100vh;
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}
body {
    padding: 0%;
    margin: 0%;
    background-color: var(--colorMain);
    font-size: var(--textM);
    font-family: var(--font1);
    color: var(--colorNeutral);
    /* overscroll-behavior: none; */
    height: 100vh;
    overflow: hidden;

}
a{
    color: var(--colorNeutral);
}

h1 {
    padding: 0%;
    margin: 0%;
    font-size: var(--textXXL);
    color: var(--colorAccent)
}

h2 {
    padding: 0%;
    margin: 0%;
    font-size: var(--textXL);
}

h3 {
    padding: 0%;
    margin: 0%;
    font-size: var(--textL);
}

p {
    padding: 0%;
    margin: 0%;
    font-size: var(--textM);
}

small {
    font-size: var(--textS)
}
.itemsTitle{
    height: var(--hXS);
}
.itemsSectionL{
    height: var(--hL);
}
.itemsSectionXL{
    height: calc(var(--hHalf) * 0.515);
}
.contImageM{
    height: var(--hIM);
}
.itemsCenter {
    align-items: center;
    text-align: center;
    display: grid;
}

.footerContainer {
    height: var(--hSM);
    width: var(--wFull);
    background-color: var(--colorMain);
    position: absolute;
    /* bottom: calc(var(--hXXS) * 5); */
    bottom: 0px;
}

nav {
    position: absolute;
    top: 0px;
    height: var(--hXS);
    width: var(--wFull);
    ;
    background-color: var(--colorMain);
    display: flex;
}
.link{
    cursor: pointer;
    text-decoration: underline;
}
.bottonA {
    height: var(--hXS);
    display: grid;
    align-content: center;
    width: var(--wS);
    text-align: center;
    background-color: var(--colorMainW2);
    color:var(--colorMain);
    /* border-radius: 5%; */
    cursor: pointer;

}
.bottonA:hover {
    background-color: var(--colorHeaderW);
    color:var(--colorMainW2);
    
}

#TContainer {
    position: absolute;
    top: var(--hXS);
    z-index: 0;
}

#container {
    position: absolute;
    top: var(--hXS);
    width: var(--wFull);
    height: var(--hFullContainer);
    z-index: 99;
    padding: 0;
    margin: 0px;
    overflow: hidden;
}

#containerSection {
    position: absolute;
    width: var(--wFull);
    height: var(--hFullContainer);
    z-index: 99;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    padding: 0;
    margin: 0px;
    /* transition: transform 0.5s ease; */
    transition-property: transform;
    transition-duration: 0s;
    transition-timing-function: ease;

}

.section {
    position: absolute;
    width: var(--wFull);
    height: var(--hFullContainer);
    ;
    padding: 0;
    margin: 0;
    border: 0;
}

.sectionS {
    height: var(--hXS);
}

.sectionL {
    height: var(--hHalf);
}

.sectionM {
    height: var(--hHalf2);
}

.card {
    background-color: var(--colorBackCard);
    border:0.3vw var(--colorMainW) solid
}

.headerCard {
    background-color: var(--colorHeader);
}

#presentation {
    transform: translateZ(var(--hRadius));
    /* background-color: rgba(0,0,255,1); */

}

#presentation h2 {
    color: var(--colorPresentation)
}

#jobs {
    transform: rotateY(180deg) rotateZ(180deg) translateZ(var(--hRadius));
    /* background-color: rgba(0,255,0,1); */
}

#jobs h2 {
    color: var(--colorJobs)
}

#examples {
    transform: rotateX(90deg) translateZ(var(--hRadius));
    /* background-color: rgba(255,522,0,1); */

}

#examples h2 {
    color: var(--colorExamples)
}

#skills {
    transform: rotateX(-90deg) translateZ(var(--hRadius));
    /* background-color: rgba(255,0,0,1); */
}

#skills h2 {
    color: var(--colorSkills)
}




.containerSections {
    align-items: center;
    width: var(--wFull);
    height: var(--hFullContainer);
}

.sectionSide {
    display: grid;
    align-items: center;
    text-align: center;
    padding: var(--hXS) var(--wXXS);
}

.sectionSingle {
    /* border: 1px var(--colorComplementario) solid; */
    height: var(--hFullSection);
    width: var(--wFull);
    padding: var(--hXXS) var(--wXXS);
}

.footerSection {
    position: absolute;
    bottom: 0px;
    height: var(--hHS);
    width: var(--wFull);
    text-align: center;
    background-color: var(--colorHeaderW);
    left: 0px;
}

.headerSection {
    position: absolute;
    /* height: var(--hHS); */
    top: 0vh;
    left: 0vw;
    width: var(--wFull);
    text-align: center;
    background-color: var(--colorHeaderW);
    margin: 0%;
}
.headerSectionSimple {
    background-color: var(--colorHeaderW);
}

.imageM {
    width: calc(var(--wS) * 0.75);
    height: calc(var(--wS) * 0.75);
    background-color: aliceblue;
}
.imageMPad{
    margin: 1.55vw;
}

.imageL {
    width: calc(var(--wL) * 0.55);
    height: calc(var(--wL) * 0.55);
}

.gridSectionContainer{
    height: 33vh;
    width: 47.2vw;
    align-items: center;
    align-content: center;
}
.gridSectionContainer2{
    height: 66vh;
    width: 49vw;
    align-items: center;
    align-content: center;
}


.carousel {
    display: flex;
    align-items: center;
    width:100%
}
.carrouselFrame{
    overflow: hidden;
    width:100%
}

.carouselContainer {
    /* Prevent overflow of items */
    width: 100%;
    /* Adjust as needed */
    position: relative;
}


.carouselItem {
    min-width: 50%;
    /* Each item takes 50% of the container width */
}

.carouselButton {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
}


@media(orientation:portrait) {
    .gridSectionContainer{
        height: 33vh;
        width: 48.3vw;
    }
    .itemsSectionL{
        height: calc(var(--hL)*0.8);
    }
    .gridSectionContainer2{
        height: 33vh;
        
    }
    .carousel {
        width:200%
    }
    .containerSections {
        display: block;
    }

    .sectionSingle {
        width: var(--wFull2);
    }

    .sectionSide {
        height: var(--hHalfContainer);
        width: var(--wFull2);
    }

    .sectionL {
        height: var(--hHalf2);
    }

    .sectionM {
        height: var(--hHalf3);
    }

    h1 {
        font-size: var(--textXXL2);
    }

    h2 {
        font-size: var(--textXL2);
    }

    h3 {
        font-size: var(--textL2);
    }

    p {
        font-size: var(--textM2);
    }

    small {
        font-size: var(--textS2)
    }

    #container {
        height: var(--hFullContainer2);
    }

    #containerSection {
        height: var(--hFullContainer2);
    }

    .section {
        height: var(--hFullContainer2);
        ;
    }
}

@media(orientation:landscape) {
    .gridSectionContainer{
        height: 33vh;
        width: 47.4vw;
    }
    .itemsSectionL{
        height: var(--hL);
    }
    .gridSectionContainer2{
        height: 66.5vh;
    }
    .containerSections {
        display: flex;
    }

    .sectionSingle {
        width: var(--wFull);
    }

    .sectionSide {
        height: var(--hFullSection);
        width: var(--wHalf);
    }

    .sectionL {
        height: var(--hHalf);
    }

    .sectionM {
        height: var(--hHalf2);
    }

    h1 {
        font-size: var(--textXXL);
    }

    h2 {
        font-size: var(--textXL);
    }

    h3 {
        font-size: var(--textL);
    }

    p {
        font-size: var(--textM);
    }

    small {
        font-size: var(--textS)
    }

    #container {
        height: var(--hFullContainer);
    }

    #containerSection {
        height: var(--hFullContainer);
    }

    .section {
        height: var(--hFullContainer);
        ;
    }
    .carousel {
        width:100%
    }









}